# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.python-version
build/
dist/

# Env
.env
.env.local

# Tooling
.ruff_cache/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# Editors
.vscode/
.idea/
*.swp
.DS_Store
